[Unit]
Description=Scanbot Nextcloud Upload Backend
After=network.target

[Service]
ExecStart=/usr/bin/python3  /home/pi/scanbot/scanbot-upload.py
WorkingDirectory=/home/pi/scanbot
StandardOutput=inherit
StandardError=inherit
Restart=always
User=pi

[Install]
WantedBy=multi-user.target
